.center-text {
  text-align: center;
}

.border {
  border-top: 1px solid black;
  padding-top: 10px;
}
.border-bottom {
  border-bottom: 1px solid black;
  font-family: Blippo, fantasy;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.clear {
  clear: both;
}
/*navagation for all pages*/
#main-navbar {
  overflow: hidden;
  background-color: #b3ffb3;
}
#navbar-container {
  float: left;
  width: 100%;
  position: relative;
}
#main-navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  float: left;
}
#main-navbar ul li {
  float: left;
  position: relative;
  right: 50%;
  display: block;
  font-size: 20px;
}
#main-navbar ul li a {
  display: block;
  padding: 10px 20px;
  color: black;
  text-decoration: none;
}
#main-navbar ul li a:hover {
  background-color: #e6fff3;
}

#onpage {
  text-decoration: underline;
}
/*page 1*/
.resume-page-background {
  background-color: #99ffce;
}
#resume-template{
  width: 70%;
  margin: 0 auto 5% auto;
  padding: 1% 1% 1% 1%;
  background-color: #e6fff3;
}

/*mobile style*/
@media screen and (max-width: 767px) {
  #resume-outline {
    width: 90%; 
    margin: 5% auto; 
  }
  #main-navbar ul li {
    display: block; 
    float: none; 
  }
  #main-navbar ul li a {
    padding: 10px;
    font-size: 16px; 
  }
}

/*page 2*/
.hobbies-page-background {
  background-color: #99ffce;
}

#hobbies-template{
  width: 70%;
  margin: 0 auto 5% auto;
  padding: 1% 1% 1% 1%;
  background-color: #e6fff3;
}
/*page 3*/
.hotchip-page-background {
  background-color: #99ffce;
}
	  
#hotchip-template{
  width: 70%;
  margin: 0 auto 5% auto;
  padding: 1% 1% 1% 1%;
  background-color: #e6fff3;
}

/*map*/
#wrapper {
  width: 950px;
  height: 700px;
  background-color: #e6fff3;
  margin: 0 auto;
  overflow: hidden;
}

#canvas {
  width: 800px;
  height: 600px;
  background-color: #99ffce;
  margin: 30px auto;
}

.map-background {
  background-color: #99ffce;
  margin: 10px;
}